:root {
    --h1-font-size: 2rem;
    --h2-font-size: 1.8rem;
    --h3-font-size: 1.4rem;
    --p-font-size: 1rem;
    --color-bg: rgb(249, 241, 130);
    --color-cart: rgb(255, 216, 107);
    --color-border: rgb(238, 239, 216);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Satisfy";
    padding-top: 60px;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--color-bg);
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    background: none;
    border: none;
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

p {
    font-size: var(--p-font-size);
}

/* Header */

.header {
    position: fixed;
    top: 0;
    background-color: var(--color-bg);
    height: 60px;
    width: 100vw;
    z-index: 100;
}

.navigator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
}

.nav-logo {
    display: flex;
    font-size: var(--p-font-size);
    font-weight: 700;
    position: relative;
    color: var(--color-menu-text);
    align-items: center;
    column-gap: .5rem;
}

.nav-logo img {
    width: 1.5rem;
}

#nav-btn {
    background: transparent;
    color: var(--color-text);
    border: none;
    cursor: pointer;
    font-size: 2rem;
    transition: transform 0.3s ease;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    padding: 2rem;
    font-size: var(--h2-font-size);
    font-weight: 400;
    background: wheat;
    width: 100%;
    height: 30vh;
    top: -40vh;
    left: 0;
    box-shadow: -2px 2px 8px black;
    transition: top 0.5s ease-in-out;
    z-index: 200;

}
#nav-xbtn {
    position: absolute;
    top: 4vh;
    right: 4vh;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.nav-menu.show {
    top: 0;
    z-index: 200;
}
.nav-menu li {
    list-style: none;
    padding: auto;
}

/* Home section */

.home-page-section {
    width: 100%;
    height: 95vh;
    background-color: var(--color-bg);
}

.home-page-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.home-description {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    padding-top: 2rem;
    opacity: 0;
    transition: transform 1400ms ease-in-out , opacity 1400ms ease-out 200ms;
    transform: translateX(50px);
}
.home-description.active {
    opacity: 1;
    transform: translateX(0px);
}

.home-description h1 {
    font-weight: 900;
}

.home-description p {
    font-weight: 400;
    padding: 1.2rem;
}

.buy-now-botton {
    background-color: var(--color-cart);
    border-radius: 25px;
    padding: 8px 16px;
    font-size: var(--h3-font-size);
}

.main-burger-icon {
    position: absolute;
    bottom: 2rem;
    right: 0;
    rotate: -20deg;
}

.main-drink-icon {
    position: absolute;
    bottom: -1.5rem;
    left: 2rem;
    rotate: 25deg;
}

.main-fries-icon {
    position: absolute;
    top: 4rem;
    left: 5rem;
    rotate: -15deg;
}

.main-icon {
    width: 2rem;
    opacity: 0;
    transition: transform 1200ms ease-in-out 1600ms, opacity 900ms ease-out 1700ms;
    transform: translateY(30px)
}

.main-icon.active {
    opacity: 1;
    transform: translateY(0);
}

.main-burger-container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 450px;
    width: 350px;
}

.main-burger {
    position: absolute;
    width: 300px;
    z-index: 20;
    opacity: 0;
    left: 25px;
    top: -60px;
    transition: transform 1600ms ease-in-out 1000ms, opacity 900ms ease-out 1400ms;
    transform: translateY(0);
}
.main-burger.active {
    opacity: 1;
    transform: translateY(70px);
}

.main-board {
    width: 300px;
    position: absolute;
    z-index: 10;
    opacity: 0;
    left: 25px;
    bottom: 70px;
    transition: transform 1600ms ease-in-out 400ms, opacity 1000ms ease-out 800ms;
    transform: translateY(0);
}
.main-board.active {
    opacity: 1;
    transform: translateY(-60px);
}

/* Recipe */

.recipe-section {
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.recipe-section h2 {
    font-weight: 600;
    padding: 1rem 0;
}

.recipe-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    overflow: hidden;
    margin-right: 1rem;
}

.recipe {
    display: grid;
    grid-template-rows: 1fr;
    gap: 1.5rem;
}

.l-component, .r-component {
    display: flex;
    gap: .5rem;
    text-align: start;
    opacity: 0;
    transition: transform 1600ms ease-out, opacity 1800ms ease-in-out;
    transform: translateX(50px);
}

.r-component {
flex-direction: row-reverse;
text-align: end;
transform: translateX(-50px);
}

.delay-1 {
    transition-delay: 200ms;
}
.delay-2 {
    transition-delay: 600ms;
}
.delay-3 {
    transition-delay: 1000ms;
}
.delay-4 {
    transition-delay: 1400ms;
}
.delay-5 {
    transition-delay: 1800ms;
}

.l-component.active, .r-component.active {
    opacity: 1;
    transform: translateX(0px);
}

.component-title {
    font-weight: 600;
}

.recipe-icon {
    display: flex;
    width: 90px;
    height: 90px;
    border: .2rem solid var(--color-border);
    background-color: var(--color-cart);
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.recipe-img {
    width: 100%;
    height: 100%;
}

.animated-burger {
    position: relative;
    overflow: hidden;    
    opacity: 0;
    transition: transform 1600ms ease-in-out 2500ms, opacity 2200ms ease-out 2400ms;
    transform: translateX(-100px);
}

.animated-burger.active {
    opacity: 1;
    transform: translateX(0);
}

.animated-burger img {
    position: absolute;
}

.button-bun {
    z-index: 10;
    right: 8px;
    top: 400px;
    width: 250px;
}

.tomato {
    z-index: 12;
    right: 38px;
    top: 345px;
    width: 170px;
}

.onion2 {
    z-index: 14;
    right: 130px;
    top: 280px;
    width: 100px;
}

.onion1 {
    z-index: 14;
    right: 25px;
    top: 295px;
    width: 100px;
}

.cutlet {
    z-index: 15;
    right: 35px;
    top: 220px;
    width: 180px;
}

.cheez {
    z-index: 16;
    right: 10px;
    top: 194px;
    width: 270px;
    rotate: -5deg;
}

.pikuli3 {
    z-index: 17;
    right: 35px;
    top: 125px;
    width: 70px;
    rotate: -15deg;
}

.pikuli2 {
    z-index: 18;
    right: 140px;
    top: 135px;
    width: 75px;
    rotate: 15deg; 
}

.pikuli1 {
    z-index: 19;
    right: 80px;
    top: 170px;
    width: 63px;
    rotate: 8deg; 
}

.top-bun, .top-bun2 {
    z-index: 10;
    right: 30px;
    top: 45px;
    width: 200px;
}

/* Food menu section */
.food-menu {
    text-align: center;
    min-height: 100vh;
}

.mobile, .desktop {
    display: none;
}
.menu-header {
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
}

.menu-btn {
    border: none;
    padding: 0 .5rem;
    font-size: var(--h1-font-size);
    background-color: transparent;
}

#menu-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    justify-content: center;
    gap: 3rem 1.5rem;
    padding: 3rem 2rem;
}

.menu-card {
    position: relative;
    border: .3rem solid var(--color-border);
    padding: 5.5rem 1rem 1rem;
    background-color: var(--color-cart);
    text-align: start;
    border-radius: 1rem;
}

.menu-card:hover img {
    transform: scale(1.1) translateY(-4px);
}

.menu-card img {
    position: absolute;
    width: 160px;
    color: transparent;
    background-color: transparent;
    transition: all 0.6s ease;
    top: -3rem;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.menu-card h3 {
    margin: .5rem 0;
}

/* Delivery section */

.delivery-section {
    padding-top: 1.5rem;
    text-align: center;
}

.delivery-container {
    position: relative;
    height: 70vh;
    min-height: 540px;
    background-color: var(--color-cart);
    margin: 2.5rem 1.5rem 5rem;
    border-radius: 3rem;
    border: .4rem solid var(--color-border);
    text-align: center;
    padding: 1.5rem;
    overflow: hidden;
}

.delivery-icon {
    width: 2rem;
    opacity: 0;
    transition: transform 1200ms ease-in-out 600ms, opacity 900ms ease-out 700ms;
    transform: translateY(-20px)
}

.delivery-icon.active {
    opacity: 1;
    transform: translateY(0);
}

.delivery-burger-icon {
    position: absolute;
    top: 15rem;
    left: 3.5rem;
    rotate: 25deg;
}

.delivery-drink-icon {
    position: absolute;
    top: 5.5rem;
    right: 3rem;
    rotate: -15deg;
}

.delivery-fries-icon {
    position: absolute;
    top: 3.5rem;
    left: 2rem;
    rotate: -15deg;
}

.delivery-title {
    padding: 1rem;
}

.contacts-title {
    padding-bottom: 1rem ;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-icons {
    display: flex;
    justify-content: space-around;
}

.contact-icons img {
    width: 50px;
}

.gif-courier {
    width: 100%;
}

.gif-courier-container {
    width: 12%;
    min-width: 60px;
    position: absolute;
    bottom: 7%;
    left: -100px;
    animation: drive 15000ms linear infinite;
}

@keyframes drive {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(120vw);
    }
}


/* footer */

.footer {
    height: 40px;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -2px 2px 8px black;
}

.footer p {
    font-size: .8rem;
}

@media (max-width: 768px) {
    .mobile {
        display: flex;
        justify-content: center;
    }
    }
    @media (min-width: 769px) {
    .desktop {
        display: block;
    }
}