:root {
    --h1-font-size: 2rem;
    --h2-font-size: 1.8rem;
    --h3-font-size: 1.4rem;
    --p-font-size: 1rem;
    --color-bg: rgb(249, 241, 130);
    --color-cart: rgb(255, 216, 107);
    --color-border: rgb(238, 239, 216);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Satisfy";
    padding-top: 60px;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--color-bg);
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    background: none;
    border: none;
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

p {
    font-size: var(--p-font-size);
}

/* Header */

.header {
    position: fixed;
    top: 0;
    background-color: var(--color-bg);
    height: 60px;
    width: 100vw;
    z-index: 100;
}

.navigator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
}

.nav-logo {
    display: flex;
    font-size: var(--p-font-size);
    font-weight: 700;
    position: relative;
    color: var(--color-menu-text);
    align-items: center;
    column-gap: .5rem;
}

.nav-logo img {
    width: 1.5rem;
}

#nav-btn {
    background: transparent;
    color: var(--color-text);
    border: none;
    cursor: pointer;
    font-size: 2rem;
    transition: transform 0.3s ease;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    padding: 2rem;
    font-size: var(--h2-font-size);
    font-weight: 400;
    background: wheat;
    width: 100%;
    height: 30vh;
    min-height: 210px;
    top: -300px;
    left: 0;
    box-shadow: -2px 2px 8px black;
    transition: top 0.5s ease-in-out;
    z-index: 200;

}
#nav-xbtn {
    position: absolute;
    top: 4vh;
    right: 4vh;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.nav-menu.show {
    top: 0;
    z-index: 200;
}
.nav-menu li {
    list-style: none;
    padding: auto;
}

/* Home section */

.home-page-section {
    width: 100%;
    height: 95vh;
    min-height: 580px;
    background-color: var(--color-bg);
}

.home-page-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.home-description {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    padding-top: 2rem;
    opacity: 0;
    transition: transform 1400ms ease-in-out , opacity 1400ms ease-out 200ms;
    transform: translateX(50px);
}
.home-description.active {
    opacity: 1;
    transform: translateX(0px);
}

.home-description h1 {
    font-weight: 900;
}

.home-description p {
    font-weight: 400;
    padding: 1.2rem;
}

.buy-now-botton {
    background-color: var(--color-cart);
    border-radius: 25px;
    padding: 8px 16px;
    font-size: var(--h3-font-size);
    transition: all 0.6s ease;
}

.buy-now-botton:hover {
    scale: 1.05;
}

.main-burger-icon {
    position: absolute;
    bottom: 2rem;
    right: 0;
    rotate: -20deg;
}

.main-drink-icon {
    position: absolute;
    bottom: -1.5rem;
    left: 2rem;
    rotate: 25deg;
}

.main-fries-icon {
    position: absolute;
    top: 4rem;
    left: 5rem;
    rotate: -15deg;
}

.main-icon {
    width: 2rem;
    opacity: 0;
    transition: transform 1200ms ease-in-out 1600ms, opacity 900ms ease-out 1700ms;
    transform: translateY(30px)
}

.main-icon.active {
    opacity: 1;
    transform: translateY(0);
}

.main-burger-container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 450px;
    width: 350px;
}

.home-veg {
    display: none;
}

.main-burger {
    position: absolute;
    width: 300px;
    z-index: 20;
    opacity: 0;
    left: 25px;
    top: -60px;
    transition: transform 1600ms ease-in-out 1000ms, opacity 900ms ease-out 1400ms;
    transform: translateY(0);
}

.main-burger.active {
    opacity: 1;
    transform: translateY(70px);
}

.main-board {
    width: 300px;
    position: absolute;
    z-index: 10;
    opacity: 0;
    left: 25px;
    bottom: 70px;
    transition: transform 1600ms ease-in-out 400ms, opacity 1000ms ease-out 800ms;
    transform: translateY(0);
}
.main-board.active {
    opacity: 1;
    transform: translateY(-60px);
}

/* Recipe */

.recipe-section {
    height: 100vh;
    min-height: 650px;
    width: 100vw;
    text-align: center;
}

.recipe-section h2 {
    padding: 1rem 0;
}

.recipe-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin-right: 1rem;
}

.recipe {
    display: grid;
    grid-template-rows: 1fr;
    gap: 1.5rem;
    max-width: 350px;
}

.l-component, .r-component {
    display: flex;
    gap: .5rem;
    text-align: start;
    opacity: 0;
    transition: transform 1600ms ease-out, opacity 1800ms ease-in-out;
    transform: translateX(50px);
}

.r-component {
flex-direction: row-reverse;
text-align: end;
transform: translateX(-50px);
}

.delay-1 {
    transition-delay: 200ms;
}
.delay-2 {
    transition-delay: 600ms;
}
.delay-3 {
    transition-delay: 1000ms;
}
.delay-4 {
    transition-delay: 1400ms;
}
.delay-5 {
    transition-delay: 1800ms;
}

.l-component.active, .r-component.active {
    opacity: 1;
    transform: translateX(0px);
}

.component-title {
    font-weight: 600;
}

.recipe-icon {
    display: flex;
    width: 90px;
    height: 90px;
    border: .2rem solid var(--color-border);
    background-color: var(--color-cart);
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.recipe-img {
    width: 100%;
    height: 100%;
}

.animated-burger {
    max-width: 300px;
    position: relative;
    opacity: 0;
    transition: transform 1600ms ease-in-out 2500ms, opacity 2200ms ease-out 2400ms;
    transform: translateX(-100px);
}

.animated-burger.active {
    opacity: 1;
    transform: translateX(0);
}

.animated-burger img {
    position: absolute;
}

.button-bun {
    z-index: 10;
    right: 8px;
    top: 400px;
    width: 250px;
}

.tomato {
    z-index: 12;
    right: 38px;
    top: 345px;
    width: 170px;
}

.onion2 {
    z-index: 14;
    right: 130px;
    top: 280px;
    width: 100px;
}

.onion1 {
    z-index: 14;
    right: 25px;
    top: 295px;
    width: 100px;
}

.cutlet {
    z-index: 15;
    right: 35px;
    top: 220px;
    width: 180px;
}

.cheez {
    z-index: 16;
    right: 10px;
    top: 194px;
    width: 270px;
    rotate: -5deg;
}

.pikuli3 {
    z-index: 17;
    right: 35px;
    top: 125px;
    width: 70px;
    rotate: -15deg;
}

.pikuli2 {
    z-index: 18;
    right: 140px;
    top: 135px;
    width: 75px;
    rotate: 15deg; 
}

.pikuli1 {
    z-index: 19;
    right: 80px;
    top: 170px;
    width: 63px;
    rotate: 8deg; 
}

.top-bun, .top-bun2 {
    z-index: 10;
    right: 30px;
    top: 45px;
    width: 200px;
}

/* Food menu section */
.food-menu {
    text-align: center;
    min-height: 100vh;
}

.desktop {
    display: none;
}
.mobile {
    display: flex;
    justify-content: center;
}
.menu-header {
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
}

.menu-btn {
    border: none;
    padding: 0 .5rem;
    font-size: var(--h1-font-size);
    background-color: transparent;
}

#menu-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    justify-content: center;
    gap: 3rem 1.5rem;
    padding: 3rem 2rem;
}

.menu-card {
    position: relative;
    border: .3rem solid var(--color-border);
    padding: 5.5rem 1rem 1rem;
    background-color: var(--color-cart);
    text-align: start;
    border-radius: 1rem;
}

.menu-card:hover img {
    transform: scale(1.1) translateY(-4px);
}

.menu-card img {
    position: absolute;
    width: 160px;
    color: transparent;
    background-color: transparent;
    transition: all 0.6s ease;
    top: -3rem;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.menu-card h3 {
    margin: .5rem 0;
}

/* Delivery section */

.delivery-section {
    padding-top: 1.5rem;
    text-align: center;
}

.delivery-container {
    position: relative;
    height: 70vh;
    min-height: 540px;
    background-color: var(--color-cart);
    margin: 2rem 1.5rem 5rem;
    border-radius: 3rem;
    border: .4rem solid var(--color-border);
    text-align: center;
    padding: 1.5rem;
    overflow: hidden;
}

.delivery-icon {
    width: 2rem;
    opacity: 0;
    transition: transform 1200ms ease-in-out 600ms, opacity 900ms ease-out 700ms;
    transform: translateY(-20px)
}

.delivery-icon.active {
    opacity: 1;
    transform: translateY(0);
}

.delivery-burger-icon {
    position: absolute;
    top: 16rem;
    left: 3rem;
    rotate: 25deg;
}

.delivery-drink-icon {
    position: absolute;
    top: 5.5rem;
    right: 2.5rem;
    rotate: -15deg;
}

.delivery-fries-icon {
    position: absolute;
    top: 4rem;
    left: 1.5rem;
    rotate: -15deg;
}

.delivery-title {
    padding: 1rem;
}

.contacts-title {
    padding-bottom: 1rem ;
}

.contacts, .write-call {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-icons {
    display: flex;
    justify-content: space-around;
}

.contact-icons img {
    width: 50px;
}

.gif-courier {
    width: 100%;
}

.gif-courier-container {
    width: 60px;
    position: absolute;
    bottom: 7%;
    left: -100px;
    animation: drive 15000ms linear infinite;
}

@keyframes drive {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(120vw);
    }
}


/* footer */

.footer {
    height: 40px;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -2px 2px 8px black;
}

.footer p {
    font-size: .8rem;
}


@media (min-width: 576px) {
    .recipe-container {
        grid-template-columns: 1fr 1fr;
        margin-right: 1rem;
    }
    
    #menu-content {
        gap: 4rem 2.5rem;
    }

    .menu-card {
        min-width: 180px;
    }

    .delivery-container {
        margin: 3rem 2rem 4rem;
    }
}


@media (min-width: 769px) {

    :root {
        --h1-font-size: 1.8rem;
        --h2-font-size: 1.6rem;
        --h3-font-size: 1.4rem;
        --p-font-size: 1.2rem;
    }
    
/* Header */

    #nav-btn {
        display: none;
    }

    .nav-menu {
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        height: 60px;
        min-height: auto;
        width: 60%;
        top: 0;
        background-color: transparent;
        box-shadow: none;
        font-size: var(--h3-font-size);
    }

    .nav-menu li:hover {
        border-bottom: 3px solid var(--color-cart);
    }

    #nav-xbtn {
        display: none;
    }

/* Home section */

    .home-page-section{
        height: 90vh;
    }


    .home-page-content {
        flex-direction: row;
        min-height: auto;
        padding-top: 8vh;
        align-items: normal;
        justify-content: space-around;
    }

    .home-description {
        width: 60%;
        height: 60%;
        max-height: 230px;
    }

    .main-burger-container {
        height: 450px;
    }

/* Food menu section */

    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
        flex-direction: row;
        width: 60%;
        justify-content: space-between;
        margin: 1rem auto;
        padding: 15px 5px;
        box-sizing: border-box;
    }
    
    button[data-category] {
        font-family: 'Satisfy', cursive;
        font-size: var(--h3-font-size);
        background-color: transparent;
        border: none;
        padding-bottom: 3px;
    }

    button[data-category]:hover {
        border-bottom: 3px solid var(--color-cart);
        scale: 1.05;
        padding-bottom: 0;
    }

    .delivery-container {
        min-height: 400px;
        margin: 1rem 2rem 2rem;
        padding: 1rem 1.5rem;
    }

    .contacts, .write-call {
        gap: 1.5rem;
    }
    .write-call {
        flex-direction: row;
        justify-content: space-around;
    }

    .write-us, .call-us {
        width: 300px;
    }

    .gif-courier-container {
        bottom: 3%;
        width: 50px;
    }
}
@media (min-width: 1025px) {
    body {
        padding-top: 70px;
    }

    
/* Header */

    .header {
        height: 70px;
    }

    .nav-menu {
        margin-right: 20px;
    }

/* Home section */

    .home-description {
        width: 40%;
        max-height: none;
    }

    .main-burger-container {
        height: 610px;
        width: 520px;
    }

    .main-burger, .main-board {
        width: 450px;
    }

    .home-veg {
        position: absolute;
        display: block;
        width: 90px;
        z-index: 50;
        opacity: 0;
        transform: translateY(-70px);
        transition: all 1400ms ease-out 2400ms;
    }

    .home-veg.active {
        opacity: 1;
        transform: translateY(0);
    }

    .main-tomato-1 {
        top: 1px;
        right: 115px;
    }

    .main-tomato-2 {
        bottom: 220px;
        left: -20px;
    }

    .main-lettuce-1 {
        top: 170px;
        right:15px;
        transform: translateY(-70px) rotate(25deg);
    }

    .main-lettuce-2 {
        top: 50px;
        left: 20px;
        transform: translateY(-70px) rotate(15deg);
    }

    .main-cheez {
        bottom: 160px;
        right: 73px;
        transform: translateY(-70px) rotate(25deg);
    }

/* Recipe */

    .recipe-section {
        min-height: 700px;
    }

    .recipe-section h2 {
    padding: 2rem 0;
    }

    .animated-burger {
        margin-left: 5vw;
        transform: none;
        transition: opacity 2000ms ease-out 1800ms;
    }
    
    .animeted-burger img {
        position: absolute;
    }
    
    .button-bun {
        left: 30px;
        top: 350px;
        width: 350px;
        z-index: 10;
        transition: transform 1300ms ease-in-out 2200ms;
        transform: translateY(0);
    }
    .button-bun.active {
        transform: translateY(20px);
    }
    
    .tomato {
        left: 110px;
        top: 355px;
        width: 220px;
        z-index: 12;
        transition: transform 1300ms ease-in-out 2200ms;
        transform: translateY(0) rotate(0);
    }
    .tomato.active {
        transform: translateY(-40px)rotate(-5deg);
    }
    
    .onion2 {
        left: 120px;
        top: 355px;
        width: 100px;
        z-index: 14;
        transform: rotate(10deg) translateY(0);
        transition: transform 1400ms ease-in-out 2100ms;
    }
    .onion2.active {
        transform: translate(-30px, -90px) rotate(-5deg);
    }
    
    .onion1 {
        z-index: 14;
        left: 190px;
        top: 360px;
        width: 130px;
        transform: translate(0) rotate(-10deg);
        transition: transform 1400ms ease-in-out 2100ms;
    }
    .onion1.active {
        transform: translate(30px, -100px) rotate(10deg);
    }
    
    .cutlet {
        z-index: 15;
        left: 120px;
        top: 340px;
        width: 210px;
        transition: transform 1500ms ease-in-out 2000ms;
        transform: translateY(0) rotate(0);
    }
    .cutlet.active {
        transform: translateY(-160px) rotate(5deg);
    }
    
    .cheez {
        z-index: 16;
        left: 70px;
        top: 335px;
        width: 320px;
        transition: transform 1600ms ease-in-out 1900ms;
        transform: translate(0) rotate(0);
    }
    .cheez.active {
        transform: translate(-10px, -190px) rotate(-3deg);
    }
    
    .pikuli3 {
        z-index: 17;
        left: 130px;
        top: 340px;
        width: 90px;
        rotate: none;
        transition: transform 1700ms ease-in-out 1800ms;
        transform: translate(0) rotate(0);
    }
    .pikuli3.active {
        transform: translate(-25px, -270px) rotate(25deg);
    }
    
    .pikuli2 {
        z-index: 18;
        left: 240px;
        top: 337px;
        width: 85px;
        rotate: none;
        transition: transform 1700ms ease-in-out 1800ms;
        transform: translate(0) rotate(0);
    }
    .pikuli2.active {
        transform: translate(20px, -250px) rotate(-12deg);
    }
    
    .pikuli1 {
        z-index: 19;
        left: 190px;
        top: 344px;
        rotate: none;
        width: 80px;
        transition: transform 1700ms ease-in-out 1800ms;
        transform: translate(0) rotate(0);
    }
    .pikuli1.active {
        transform: translate(-5px, -230px) rotate(10deg);
    }
    
    .top-bun, .top-bun2 {
        z-index: 10;
        left: 85px;
        top: 275px;
        width: 270px;
        transition: transform 1800ms ease-in-out 1700ms;
        transform: translateY(0);
    }
    .top-bun.active, .top-bun2.active  {
        opacity: 1;
        transform: translateY(-310px);
    }
    
    .top-bun2 {
        z-index: 20;
    }

    .recipe-container {
        margin: 0 3rem;
    }

    .recipe {
        max-width: 540px;
        gap: .5rem;
    }

/* Food menu section */

    #menu-content {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 5rem 4rem;
    }

    .menu-card {
        min-height: 260px;
    }

    .menu-card img {
        width: 240px;
        top: -4rem;
    }
    
    .menu-card h3 {
        margin: 2.5rem 0 .5rem;
    }

    .delivery-container {
        min-height: 460px;
        margin: 1rem 8rem 2rem;
    }

    .gif-courier {
        width: 140px;
    }
}